In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'ID' : [1, 2, 3, 4, 5, 6],
    'Name' : ['Paneri', 'Ankita', 'Shreya', 'Aditya', 'Arya', 'Anvesh'],
    'Age' : [21, 20, 20, 20, 20, 21],
    'State' : ['Maharastra', 'Andhra Pradesh', 'Madhya Pradesh', 'Maharashtra', 'Maharashtra', 'Uttar Pradesh'],
    'Sales' : [11000, 70000, 30000, 25000, 10000, 10100]
}

In [ ]:
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   ID    Name  Age           State  Sales
0   1  Paneri   21      Maharastra  11000
1   2  Ankita   20  Andhra Pradesh  70000
2   3  Shreya   20  Madhya Pradesh  30000
3   4  Aditya   20     Maharashtra  25000
4   5    Arya   20     Maharashtra  10000
5   6  Anvesh   21   Uttar Pradesh  10100

In [ ]:
#character map
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):")
print(df[['ID', 'Name', 'Name_Upper']])

Character Map (Uppercase Names):
   ID    Name Name_Upper
0   1  Paneri     PANERI
1   2  Ankita     ANKITA
2   3  Shreya     SHREYA
3   4  Aditya     ADITYA
4   5    Arya       ARYA
5   6  Anvesh     ANVESH

In [ ]:
#Multicast : create 2 copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

#transformations on each copy
df_copy1['Sales'] *= 1.1 #increase sales by 10%
df_copy2['Age'] += 5 #increase age by 5 years
print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased): ")
print(df_copy1)
print("\nCopy 2 (Age Increased): ")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID    Name  Age           State    Sales Name_Upper
0   1  Paneri   21      Maharastra  12100.0     PANERI
1   2  Ankita   20  Andhra Pradesh  77000.0     ANKITA
2   3  Shreya   20  Madhya Pradesh  33000.0     SHREYA
3   4  Aditya   20     Maharashtra  27500.0     ADITYA
4   5    Arya   20     Maharashtra  11000.0       ARYA
5   6  Anvesh   21   Uttar Pradesh  11110.0     ANVESH

Copy 2 (Age Increased):
   ID    Name  Age           State  Sales Name_Upper
0   1  Paneri   26      Maharastra  11000     PANERI
1   2  Ankita   25  Andhra Pradesh  70000     ANKITA
2   3  Shreya   25  Madhya Pradesh  30000     SHREYA
3   4  Aditya   25     Maharashtra  25000     ADITYA
4   5    Arya   25     Maharashtra  10000       ARYA
5   6  Anvesh   26   Uttar Pradesh  10100     ANVESH

In [ ]:
#conditional split: sales > 300
high_sales = df[df['Sales'] > 30000]
low_sales = df[df['Sales'] <= 30000]
print("\nConditional Split:")
print("High Sales")
print(high_sales)
print("\nLow Sales")
print(low_sales)

Conditional Split:
High Sales
   ID    Name  Age           State  Sales Name_Upper
1   2  Ankita   20  Andhra Pradesh  70000     ANKITA

Low Sales
   ID    Name  Age           State  Sales Name_Upper
0   1  Paneri   21      Maharastra  11000     PANERI
2   3  Shreya   20  Madhya Pradesh  30000     SHREYA
3   4  Aditya   20     Maharashtra  25000     ADITYA
4   5    Arya   20     Maharashtra  10000       ARYA
5   6  Anvesh   21   Uttar Pradesh  10100     ANVESH

In [ ]:
#aggregation: total sales by country
agg_df = df.groupby('State')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by State):")
print(agg_df)

Aggregation (Total Sales by State):
            State  Sales
0  Andhra Pradesh  70000
1  Madhya Pradesh  30000
2     Maharashtra  35000
3      Maharastra  11000
4   Uttar Pradesh  10100

In [ ]:
#sort: sort by sales in descending order
sorted_df = df.sort_values(by='Sales', ascending=False)
print("\nSort (Descending Sales): ")
print(sorted_df)

Sort (Descending Sales):
   ID    Name  Age           State  Sales Name_Upper
1   2  Ankita   20  Andhra Pradesh  70000     ANKITA
2   3  Shreya   20  Madhya Pradesh  30000     SHREYA
3   4  Aditya   20     Maharashtra  25000     ADITYA
0   1  Paneri   21      Maharastra  11000     PANERI
5   6  Anvesh   21   Uttar Pradesh  10100     ANVESH
4   5    Arya   20     Maharashtra  10000       ARYA

In [ ]:
#derived column: categorize sales as high or low
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x>30000 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID', 'Name', 'Sales', 'Sales_Category']])

Derived Column (Sales Category):
   ID    Name  Sales Sales_Category
0   1  Paneri  11000            Low
1   2  Ankita  70000           High
2   3  Shreya  30000            Low
3   4  Aditya  25000            Low
4   5    Arya  10000            Low
5   6  Anvesh  10100            Low